:root {
  --title-color: #212121;
  --item-text-color: #757575;

  --accent-color: #2196f3;

  --first-active-color: #2196f3;
  --second-active-color: #188ce8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--item-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* ------------HEADER-------------- */

.header-logo-text,
.footer-logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}

.header-logo-text span,
.footer-logo-text span {
  color: var(--accent-color);
}

.menu-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  /* color: var(--item-text-color); */
  color: inherit;
}

.header-contact-link:hover,
.header-contact-link:focus {
  background-color: #ffffff;
  color: var(--accent-color);
}

/* ------------HERO-------------- */

.hero {
  background: #2f303a;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--first-active-color);
  border-color: var(--first-active-color);
  border-radius: 4px;
  border-style: double;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  /* display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em; */
}

.hero-btn:active {
  background-color: var(--second-active-color);
  border-color: var(--second-active-color);
}

/* ------------ADVANTAGES-------------- */
.advantages-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.advantages-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: var(--item-text-color); */
  color: inherit;
}

/* ------------TEAM-------------- */

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list p {
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  /* color: var(--item-text-color); */
  color: inherit;
}
/* ------------BASEMENT (FOOTER)-------------- */

.footer {
  background-color: #2f303a;
}
.footer-logo-text {
  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.6;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  opacity: 1;
}

/* ------------PORTFOLIO-------------- */

.filter-btn {
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  border-style: double;
  border-radius: 4px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  background-color: var(--first-active-color);
  color: #ffffff;
}

.portfolio-item > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-item > p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  /* color: var(--item-text-color); */
  color: inherit;
}
